extends layout

block content

	p Hello
	br
	form(action="/foreX" method="post")
		input( name="currencyCode" placeholder="Currency Code" autofocus)
		br
		p One
		br
		input(name ="userAmount" placeholder="Amount" autofocus)
		br
		p Two
		br
		button(type="submit") Submit
	br
	p ReferenceNumber = #{myIn}
	br
	p OFACScore = #{myIn2}