extends layout

block content

	p Hello
	br
	//p Test
	//input#test(type="search")
	br
	p Search
	input#search(type="search")
	//button(onclick='myFunction()')
	h2#results 
	br 
	br 
	br
	br
	br
    

	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="/javascripts/main.js") 